@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

:root {
  --bg: #0d1117;
  --bottomMargin: 1.5rem;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: var(--bottomMargin);
}

a {
  color: #58a6ff;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: #c9d1d9;
}

p code,
li code {
  /* so not to target <code> inside <pre> because that belongs to syntax highlighter. */
  background-color: #1a1d2f;
  padding: 3px 3px;
  margin: 0px 2px;
  color: #c9d1d9;
  border-radius: 5px;
}

blockquote {
  padding-left: 20px;
  border-left: 4px solid #039be5;
}

.container {
  max-width: 900px;
}
