@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

:root {
  --bg: #0d1117;
  --bottomMargin: 1.5rem;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: var(--bottomMargin);
}

a {
  color: #58a6ff;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: #c9d1d9;
}

.container {
  max-width: 900px;
}
